nav ul li{
	display: inline;
	text-align: center;
}


li {
	padding-right: 50px;
}
.nav-wrapper {
	background-color: white; 
}
.nav-links:hover {
	color: purple;
}
#col a {
	color: rgb(52, 72, 97);
}

a.brand-logo {
	color: rgb(52, 72, 97);
}





body {
	background-color: pink;
	font-family: 'Rokkitt', serif;
	background: url(../imgs/setUp1.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-repeat:no-repeat;
    background-size:100% 100vh;
    position: relative;
    color: white;
}

#selfie	{
	border: solid white;
	border-radius: 2500px;
	width: 250px;
    height: auto;
    margin-top: 100px;
   /* text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 140px;*/
    
}

.container {
	/*display: flex;*/
	text-align: center;
	/*width: 100%;
	height: 300px;*/
}

#bar {
	margin-top: -34px;
	text-align: center;
}
#myn {
	font-size :20px;
	text-align: center;
}
#name {
	margin-top: -23px;
	font-size: 30px;
	text-align: center;
}
#pos {
	margin-top: -15px;
	font-size: 16px;
	text-align: center;
}
#city {
	margin-top: -15px;
	font-size: 16px;
	text-align: center;
}

#page1 {
	color: rgb(52, 72, 97);
	background-color: white;
	display: ;
	text-align: center;
	width: 100%;
	height: 600px;
	margin-top: 340px ;
	
}
div#AMH {
	font-size: 60px;
	text-align: left;
	margin-bottom: 30px;
	margin-top: -140px;

}
#about-box {
	height: 500px;
	width: 500px;
	background-color: white;
	color: rgba(52, 72, 97 );;
	font-size: 20px;
	display: flex;
}
#skill-box {
	height: 500px;
	width: 450px;
	background-color: white;
	color: rgba(52, 72, 97 );;
	font-size: 20px;
	display: flex;
	margin-left: 100px;
}
img.col.s4 {
	font-size: 10px;
}



#page2 {
	background-color: blue;
	display: ;
	text-align: center;
	width: 100%;
	height: 800px;
	margin-top: 0px ;
}
#page3 {
	background-color: orange;
	display: ;
	text-align: center;
	width: 100%;
	height: 200px;
	margin-top: 0px ;
}


img#dg {
	height: 100px;
	weight: 100px;

}
